body{
    background-color: #000033;
  
}
.main-box{
    display :flex;
    justify-content: center;
    height:500px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 150px;
}
ul{
    list-style-type: none;
    padding-left: 0;
    cursor: pointer;
}
.col1{
    background-color: navy;
    width:200px;
    height: 400px;
    align-self: center;
    border-radius:10px;
    box-sizing: border-box;
}
.img{
    box-sizing: border-box;
    max-width: 50%;
    height:auto;
}
.name{
    background-color: slateblue;
    color: whitesmoke;
    padding:20px;
    border-radius:10px;
    height:250px;
}
.name p{
    font-size: 10px;
    padding-top: 20px;
    overflow-wrap: break-word;
}
.name span{
    font-size: xx-large;
    font-weight:700;
    overflow-wrap: break-word;
}
.navbar{
    padding-left: 20px;
    color:royalblue;
}
.navbar li{
    padding-bottom:10px;
}
.navbar li:first-child{
    color:white;
}

.col2{
    padding:1%;
    width:700px;
    
    box-sizing: border-box;
    align-self: center;
}
.daily{
    display:grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    position :relative;
    
}

.weekly{
    display:none;
    grid-template-columns: auto auto auto;
    height: 400px;
    position :relative;

}
.monthly{
    display: none;
    grid-template-columns: auto auto auto;
    height: 400px;
    position :relative;
}

.work-box{
    box-sizing: border-box;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background-image: url("./images/icon-work.svg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: coral;
}
.play-box{
    box-sizing: border-box;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
    background-image: url("./images/icon-play.svg");
    background-repeat: no-repeat;
    background-position:top;
    background-color:cyan;
    position: relative;
}
.study-box{
    box-sizing: border-box;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
    background-image: url("./images/icon-study.svg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: #FF7F98;
    position: relative;
}
.exercise-box{
    box-sizing: border-box;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
    background-image: url("./images/icon-exercise.svg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: lime;
    position: relative;
}
.social-box{
    box-sizing: border-box;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
    background-image: url("./images/icon-social.svg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: blueviolet;
    position: relative;
}
.self-box{
    box-sizing: border-box;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
    background-image: url("./images/icon-self-care.svg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: yellow;
    position: relative;
}

.box{
    height:80%;
    width:100%;
    padding:20px;
    border-radius: 10px 10px 10px 10px;
    background-color: darkblue;
    color:white;
    box-sizing: border-box; 
    position: absolute;
    bottom:0;
   line-height: 15px;
}



.title{
    font-size: 15px;
    font-weight: 900;
}
.large{
    font-size: 30px;
    font-weight: 800;
}
.small{
    font-size: 10px;
    margin-top: -10px;
    color:royalblue;
}


.attribution { font-size: 11px; text-align: center; color:white}
.attribution a { color: whitesmoke; }

@media screen and (max-width: 600px) {
    .main-box{
        display: flex;
        flex-direction: column;
        width:400px;
        margin-left: auto;
        margin-right: auto;
        height:auto;
        box-sizing: border-box;
    }
    ul{
        display: flex;
        justify-content: space-between;
       
    }
    ul li{
        font-size: small;
    }
    .navbar{
        padding: 2%;
    }
    .name{
        height:80px;
        display:flex;
        
        justify-content: space-between;
    }
    .col1{
        height:170px;
        width:210px;
    }
    .img{
        align-self: center;
        box-sizing: border-box;
        max-width: 50px;
        height:50px;
        border:2px solid white;
        border-radius: 50%;
    }
    .name p{
        margin-right: -14px;
        font-size: 10px;
        padding-top: 20px;
        padding-left: 8px;
        padding-right: 0;

        
    }
    .name span{
        font-size: 14px;

    }
    .col2{
        width: 300px;
        
    }

    .daily{
        grid-template-columns: 200px;
        
        height: 800px;
        justify-content: center;
    }
    .weekly{
        grid-template-columns: 200px;
       
        height: 800px;
        justify-content: center;
        width: 100%;
    }
    .monthly{
        grid-template-columns: 200px;
        
        height: 800px;
        justify-content: center;
    }
    .work-box{
        box-sizing: border-box;
    }
    .box{
        display:grid;
        grid-template-columns: auto auto;
        padding-left: 5%;
        height: 95px;
        
    }
    .title{
        grid-column: 1/3;
        font-size: 10px;
        margin-bottom: -1px;
    }
    .large{
        grid-column: 1/2;
        font-size: 18px;
        font-weight: 800;
    }
    .small{
        text-align: end;
        width:98%;
        grid-column: 2/3;
        align-self:center;
        margin-right: -8px;
        justify-self: end;
        font-size: 10px;
        margin-top: 0;
        
    }
}